* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.site-wrap {
  width: 1050px;
  margin: 0 auto;
}

.site-wrap:before,
.site-wrap:after {
  content: " ";
  display: table;
}

.site-wrap:after {
  clear: both;
}

.main-picture {
  float: left;
}

.main-picture-text {
 float: right;
 margin-top: 35px;
 margin-left: 10px;
}

.phone-number {
  margin-top: 25px;
  float: right;
}

.number {
  float: right;
  color:#012E81;
  font-size: 19px;
  padding: 17px 0px;
}

.navigation-bar {
  float: left;
  background-color: #004288;
  width: 100%;
  border-color: #012271;
  color: #FFFEFF;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 1050px;
}

.navigation-item {
  background-color: #004288;
  border-right: 1px solid;
  border-right-color: #023F76;
  float: left;
}

.navigation-link {
  text-decoration: none;
  color: #FFFEFF;
  display: inline-block;
  padding: 10px 30px;
  box-shadow: inset 1px 0px #3578AF;
  text-shadow: 1px 1px #012349;
}

.navigation-item:last-child{
  border-right-color: #004288;
}

.navigation-item:hover {
  background-color: #0072CA;
}

.navigation-link:hover {
  color: #88C961;
}

.house-picture {
  background-image: url("../pictures/house.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 500px;
  float: left;
  border-color: #D9D9D9;
}

.transparent-div {
  position: absolute;
  top: 100px;
  left: 90px;
  width: 450px;
  background-color: rgba(192,192,192,0.4);
}
.transparent-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 100;
  color: #FFFEFF;
  line-height: 50px;
}

.transparent-text {
  color: #FFFEFF;
}

.order-button {
  position: absolute;
  background-color: #6CA837;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #548228;
  display: block;
  top:370px;
  left: 200px;
  padding: 15px 30px;
}

.order-link {
  text-decoration: none;
  color: #FFFEFF;
  font-size: 24px;
}

.services {
  border-bottom-color: #8F8F8F;
  background-color: #FCFCFC;
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  float: left;
  width: 258px;
  margin-top: 40px;
  margin-left: 3px;
  border-bottom-color: #8F8F8F;
}

.services:hover {
  background-color: #B2D195;
}

.services-picture{
  padding-top: 20px;
  padding-left: 70px;
}

.services-header {
  font-size: 26px;
  padding-left: 65px;
  margin: 0;
  color: black;
}

.services-paragraph {
  color: #A0A09E;
  margin: 0;
  padding-left: 50px;
  font-size: 19px;
}

.features-paragraph {
  float: left;
  color: #898F8D;
  margin: 0;
  padding: 30px 438px;
  font-size: 38px;
  font-weight: 300;
}

.feature-divs {
  background-color: #004087;
  width: 100%;
  float: left;
  border-radius: 5px;
  margin-bottom: 1px;
}

.feature-paragraphs {
  margin: 0;
  color: #F6F5FA;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px
}

.developed-background {
  background-color: #EEEEEE;
  width: 100%;
  float: left;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #8C8C8C;
  border-top-color: #EEEEEE;
  border-left-color: #EEEEEE;
  border-right-color: #EEEEEE;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.developed-info {
  background-color: #FEFEFE;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  margin: 20px 10px;
}

.developed-info-paragraph {
  margin: 0;
  line-height: 25px;
  padding: 5px 15px;
  font-weight: 300px;
}

.order-lien {
  width: 100%;
  background-color: #EEEEEE;
  float: left;
}

.order-lien-paragraph {
  font-size: 13px;
}

.order-lien-header {
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: 300;
}

.lien-form-paragraph {
  text-align: center;
}

.lien-order-button {
  float: left;
  background-color: #004185;
  margin-left: 400px;
  margin-bottom: 25px;
  border-radius: 5px;
  border-color: #022E60;
  border-style: solid;
  border-width: 1px;
}

.lien-order-pic {
  float: left;
  padding: 2px 10px;
}

.lien-order-text {
  float: right;
  color: #FEFEFE;
  font-size: 25px;
  margin: 0;
  padding: 8px 15px;
}

.gray-div {
  float: left;
  width: 100%;
  height: 5px;
  background-color: #535353;
  margin-top: 50px;
}

.contact-div {
  background-color: #004087;
  width: 100%;
  float: left;
  height: 100%;
}

.lien-search-div {
  float: left;
  margin-left: 125px;
}

.lien-search-header {
  color: #DDDCD9;
  margin-top: 30px;
}

.lien-search-paragraph {
  color: #DDDCD9;
  line-height: 30px;
}

.newsletter-div {
  float: left;
  margin-left: 190px;
}

.newsletter-header {
  color: #DDDCD9;
  margin-top: 30px;
}

.newsletter-paragraph {
  color: #DDDCD9;
}

.newsletter-email {
  margin-top: 30px;
  background-color: #F4F6E5;
  padding: 10px 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #073F7A;
}

.submit {
  float: left;
  font-size: 16px;
  margin-top: 20px;
  background-color: #6CA837;
  text-decoration: none;
  color: #DDDCD9;
  padding: 10px 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: #003763;
  margin-bottom: 80px;
  border-top-color: #6CA837;
  border-right-color: #6CA837;
  border-left-color: #6CA837;
}

.keep-connected-div {
  float: left;
  margin-left: 70px;
  width: 195px;
}

.keep-connected-header {
  color: #DDDCD9;
  margin-top: 30px;
}

.connected-image {
  float: left;
}

.connected-paragraph {
  float: right;
  color: #DDDCD9;
  font-size: 12px;
  margin-top: 9px;
  margin-right: 18px;
}

.connected-link {
  text-decoration: none;
}


