* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.site-wrap {
  width: 1050px;
  margin: 0 auto;
}

.site-wrap:before,
.site-wrap:after {
  content: " ";
  display: table;
}

.site-wrap:after {
  clear: both;
}

.main-picture {
  float: left;
}

.main-picture-text {
 float: right;
 margin-top: 35px;
 margin-left: 10px;
}

.phone-number {
  padding-top: 25px;
  float: right;
}

.number {
  float: right;
  color:#012E81;
  font-size: 19px;
}

.navigation-bar {
  background-color: #004288;
  width: 1050px;
  float: left;
  border-color: #00457C;
  color: #FFFEFF;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 1050px;
}

.navigation-item {
  background-color: #004288;
  font-size: 12px;
  border-right: 1px solid;
  border-right-color: #023F76;
  display: inline-block;
  float: left;
}

.navigation-link {
  text-decoration: none;
  color: #FFFEFF;
  display: inline-block;
  padding: 10px 32px;
  text-shadow: 1px 0 #00274A;
}
.navigation-item:hover {
  background-color: #0072CA;
}

.house-picture {
  background-image: url("../pictures/house.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 500px;
  float: left;
  border-color: #D9D9D9;
}

.transparent-div {
  position: absolute;
  top: 100px;
  left: 90px;
  width: 450px;
  background-color: rgb(192,192,192);
  background-color: rgba(192,192,192,0.4);
}
.transparent-header {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 100;
  color: #FFFEFF;
}

.transparent-text {
  font-family: Tahoma;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #FFFEFF;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.order-button {
  top: 370px;
  left: 200px;
  position: absolute;
  background-color: #6CA837;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #548228;
}

.order-link {
  float: left;
  text-decoration: none;
  color: #FFFEFF;
  font-size: 24px;
  padding: 6px 22px;
  font-family: "Open Sans", sans-serif;
}

.services {
  background-color: #FCFCFC;
  border-style: solid;
  border-width: 1px;
  border-color: #D9D9D9;
  width: 262px;
  height: 190px;
  float: left;
}


